doctype
html
  head
    title #{ siteTitle }
    link(rel="stylesheet" href="/main.css")
  body
    h1 #{ title }

    h4 Pages
    ul
      for page, slug in public._data
        li: a(href="/#{ slug }")= page.navText


    h4 Posts
    ul
      - var keys = Object.keys(public.posts._data);
      -  for(var i=0; i<Math.min(10,keys.length); i++) {
      li
        a(href="/posts/#{ keys[i] }") #{ public.posts._data[keys[i]].title }
    -   }
    .container
      != body